.button-catalogo {
    border: 1px solid transparent;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    background: #89cc39;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem;
    text-decoration: none;
    line-height: 2rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.button-catalogo:hover {
    background: #ffffff;
    color: #89cc39;
    border: 1px solid #89cc39;
}

.button-catalogo strong { font-weight: 800;}

.button-gray {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 3rem;
    line-height: 3rem;
    background: #888888;
    border-radius: 5px;
    color: #ffffff;
    padding: 0 1rem;
    font-weight: 800;
    transition: all .3s ease-in-out;
}

.button-gray:hover {
    opacity: .8;
    color: #888888;
    background: #fff;
    border: 1px solid #888888;
}

.finalizar-compra {
    display: block;
    width: 100%;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    background: #71bf44;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
    font-weight: 500;
}

.finalizar-compra:hover {
    border: 1px solid #71bf44;
    color: #71bf44;
    background: #fff;
}

.continuar-compra {
    display: block;
    width: 100%;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    background: #9ad3ce;
    color: #35a79d;
    text-transform: uppercase;
    border: 1px solid transparent;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: 500;
}

.continuar-compra:hover {
    opacity: .8;
    color: #35a79d;
}