@media (max-width: 1600px) {
    .motivacional-description {
        padding-left: 22rem;
    }

    form.clientes-types {
        width: 100%;
    }

    .montagem-box.description-box.pedidos-produtos {
        overflow-y: scroll;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .icons-content.equipamentos-box-icon {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .icons-content.produtos-box-icon {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1300px) and (max-width: 1600px) {
    .montagem-box-produtos-body p {
        margin-bottom: 0;
    }

    form.clientes-types {
        width: 100%;
        padding: 2rem;
    }

    form.clientes-types .input-block .input-up {
        margin-right: 15rem;
    }

    .buttons-arquivos a {
        padding: 0 2.5rem;
    }

    .box-visualizar-pedidos strong {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .box-pedidos-produtos .pedidos-produtos figure img {
        width: 70px;
    }

    .visualizar-pedido {
        padding: 2rem;
    }

    .box-pedidos-produtos .pedidos-produtos strong {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .box-pedidos-produtos .pedidos-produtos {
        padding: 1rem;
    }

    .visualizar-pedido-header strong {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .icons-content.equipamentos-box-icon {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .icons-content.produtos-box-icon {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .montagem-box-title span:last-child {
        transform: translateX(7rem);
    }

    .montagem-box-title span:nth-child(2) {
        transform: translateX(4.5rem);
    }
}


@media (max-width: 1300px) {
    .products-section {
        padding: 0 2rem;
    }


    /* internas */

    .montagem-box-produtos-body p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-bottom: 0;
    }

    .montagem-box-produtos-header strong {
        font-size: 1.5rem;
    }

    .montagem-produto-title strong {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .montagem-produto-title p {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .buttons-arquivos a {
        padding: 0 1.5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    form.clientes-types .input-block .input-up {
        margin-right: 16rem;
    }

    .box-pedidos-produtos {
        grid-template-columns: 1fr 1fr;
    }

    .visualizar-pedido-header strong {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .box-visualizar-pedidos img {
        width: 80px;
    }

    .box-visualizar-pedidos strong {
        font-size: 1.7rem;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .montagem-box-produtos-body p {
        font-size: 1.1rem;
        line-height: 1.6rem;
        margin-bottom: 0;
    }

    .montagem-box-title span:nth-child(2) {
        transform: translateX(2rem);
    }

    .montagem-box-title span:last-child {
        transform: translateX(4rem);
    }

    .montagem-box-title span {
        font-size: 1.2rem;
    }

    .show-more img {
        width: 10px !important;
        margin-bottom: 0.5rem;
    }

    .show-more a {
        font-size: 0.9rem;
        line-height: 1rem;
        margin-top: 1rem;
    }

    .montagem-box-produtos-footer strong {
        font-size: 2.5rem;
    }

    .montagem-box-produtos-footer input {
        height: 2.5rem;
        line-height: 2.5rem;
    }

    .montagem-box.description-box .montagem-box-produtos-header strong {
        font-size: 1.3rem;
    }

    .montagem-box.description-box p {
        font-size: 1.1rem;
    }

    form.clientes-types {
        width: 100%;
    }

    form.clientes-types .input-block .input-up {
        margin-right: 12rem;
    }

    .buttons-arquivos a {
        padding: 0 1rem;
    }

    .box-pedidos-produtos {
        grid-template-columns: 1fr;
    }

    .box-visualizar-pedidos img {
        width: 50px !important;
    }

    .box-visualizar-pedidos.epi {
        padding: 1rem;
    }

    .visualizar-pedido {
        padding: 1rem;
    }

    .box-visualizar-pedidos strong {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .visualizar-pedido-header strong {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .icons-content.equipamentos-box-icon {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        margin-left: 10px;
    }

    .icons-content.produtos-box-icon {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .button-detalhes {
        font-size: 1.4rem;
    }

    .box-form {
        padding: 4rem;
    }

    .rodape-infos div p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .button-duvidas {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 992px) {

    .button-detalhes {
        padding: 0 2rem;
    }

    .box-form {
        padding: 4rem 0;
    }

    .box-form::after {
        display: none;
    }

    .rodape-infos div p {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    .button-duvidas {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    form.clientes-types .input-block .input-up {
        margin-right: 8rem;
    }

    .sidebar-infos-cliente strong {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .sidebar-infos-cliente img {
        width: 65px;
    }

    form.clientes-types {
        padding: 2.5rem;
    }

    .visualizar-pedido-header {
        flex-direction: column;
    }

    .box-pedidos-produtos {
        grid-template-columns: 1fr;
    }

    .visualizar-pedido {
        padding: 1rem;
    }

    .box-visualizar {
        padding: 2rem;
    }

    .visualizar-pedido-header strong {
        font-size: 2rem;
        line-height: 2.5rem;
        display: block;
        margin-bottom: 2rem;
    }

    .box-visualizar-pedidos img {
        width: 50px;
    }

    .box-visualizar-pedidos strong {
        font-size: 1.2rem;
    }

    .box-pedidos-produtos .pedidos-produtos strong {
        font-size: 3.5rem;
    }

    .box-pedidos-produtos .pedidos-produtos figure img {
        width: 70px;
    }

    .buttons-arquivos a {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .icons-content.equipamentos-box-icon {
        grid-template-columns: 1fr 1fr;
        margin-left: 30px;
    }

    .icons-content.produtos-box-icon {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 769px) {
    img {
        width: 100%;
    }

    h1 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    .banner-description {
        padding: 3rem 1rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .text-light-blue {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .mapa-mundi {
        position: relative;
    }    

    .videos-copapel {
        grid-template-columns: 1fr 1fr;
    }

    .videos-copapel div a {
        font-size: 1.4rem;
    }

    .area-white {
        padding: 3rem 1rem;
    }

    .time-description span {
        font-size: 4rem;
    }

    .ideais {
        padding: 3rem 1rem 6rem;
    }

    h2 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .ideais-list {
        flex-direction: column;
    }

    .videos-copapel div a {
        font-size: 1.4rem;
    }

    .img-coracao {
        position: relative;
    }

    .img-coracao img {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin-top: -80px;
    }

    .green-box {
        padding: 0rem 10px 3rem;
    }

    .motivacional::after {
        width:  0;
    }

    .motivacional-description {
        padding: 0 0 2rem;
    }

    .motivacional-description strong {
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .motivacional-videos img {
        width: 100%;
        margin-bottom:  1rem;
    }

    .nossos-numeros {
        padding: 3rem 1rem;
    }

    .up-box {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2rem;
    }

    .our-numbers::after {
        display: none;
    }

    .up-box::after {
        display: none;
    }

    .down-infos::after {
        display: none;
    }

    .up-box div {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .up-box div strong {
        font-size: 4rem;
        margin: 0;
    }

    .down-infos {
        grid-template-columns: 1fr;
    }

    .infos-numbers {
        padding-top: 0;
    }
    
    .infos-numbers span {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .infos-numbers div {
        margin-bottom: 0;
    }

    .infos-numbers div strong {
        font-size: 3.5rem;
    }

    .infos-numbers div img {
        top: 15px;
        left: -45px;
        width: 40px;
    }

    h3 {
        font-size: 3rem;
        line-height: 3rem;
    }

    h3.text-green {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 1rem;
    }

    h3.text-gray  {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 1rem;
        text-align: toght;
    }
    
    .triangulo {
        bottom: -20px;
        left: 5rem;
        width: 40px;
    }

    .unidades {
        height: 80rem;
    }

    .unidades span {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .cidades {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
    }

    .cidades div {
        flex-direction: column; 
    }

    .cidades a {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .cidades div {
        text-align: center;
    }
    
    .mapa-sc {
        top: 360px;
    }

    .locais-sede::after {
        width: 100%;
    }

    .unidades-description {
        padding: 3rem 1rem;
    }  

    .unidades-description span {
        font-size: 2.7rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }  

    .locais-sede {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .clientes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slider-description {
        padding: 3rem 1rem 0;
    }

    h4 {
        font-size:  2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .catalogo-itens {
        padding: 0 1rem 3rem;
        text-align: center;
    }

    .left-side p {
        font-size: 1.5rem;
    }

    .button-catalogo {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    /* ====== allia ======== */

    .allia p {
        margin-bottom: 1.5rem !important;
    }

    .institucional-banner {
        padding: 3rem 1rem;
    }

    h5 {
        font-size: 2.4rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .higiene-livros {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .img-left img {
        position: relative;
        width: 100% !important;
    }

    .sombra {
        top: -30px;
        right: 40px;
        width: 50%;
    }

    .center-mapa { 
        text-align: left !important;
        margin-bottom: 3rem;
    }
    
    .center-mapa img {
        position: absolute;
        bottom: -180px;
        width: 90%;
    }

    .institucional-banner strong {
        margin-bottom: 1rem;
    }

    .marcas-empresa {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 0 0 3rem;
    }

    .marcas-empresa div img {
        width: auto;
    }

    .higiene-saude {
        padding: 2rem 0;
    }

    .sombra-down {
        display: none;
    }

    .menu-internas {
        display: none;
    }

    .page-infos span {
        padding: 0 1.5rem;
        margin: 3rem 0;
    }

    .sidebar-title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .sidebar-header {
        height: 10rem;
    }

    .sidebar-list ul {
        margin: 1rem
    }

    h6 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 1rem;
    }

    .produtos-description::after {
        display: none;
    }

    .produtos-description {
        width: 100%;
        margin-bottom: 2rem;
    }

    .bg-product {
        height: 18rem;
    }

    .bg-product figure img {
        width: 70%;
    }

    .quantidade {
        width: 65%;
    }

    .produtos-info p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .valores {
        margin: 1.5rem 0;
    }

    .valores .preco-novo {
        font-size: 1.7rem;
    }
    
    .swiper-marcas img { width: auto;}

    .kits-title h6 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .kits-title h6 img {
        display: none;
    }

    .kits-title a {
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: right;
    }

    .kits-title {
        margin: 2rem 0;
    }

    .swiper-marcas { margin: 2rem 0;}

    figure.logo img {
        margin-bottom: 2rem;
        width: auto;
    }

    .login-perfil {
        margin-top: 2rem;
        justify-content: center;
    }

    .favorito a img { width: auto;}

    .carrinho a img { width: auto;}

    figure.logo {
        justify-content: center;
    }

    .box-kit {
        justify-content: center !important;
    }

    .box-kit img { 
        width: auto;
        margin-bottom: 2rem;
    }

    .carrinho-interna h6 img { width: 25px;}

    .box-white-carrinho table tr td .bg-product {
        height: 6rem;
    }

    .box-white-carrinho table tr th {
        padding: 0 1rem;
    }

    .carrinho-total-preco .desconto img, .carrinho-total-preco .continuar-compra img {
        width: 25px;
    }

    .table-valores {
        padding: 0 1rem;
    }

    .lista-desejos .adicionar p {
        line-height: 1.2rem;
    }

    .carrinho-title-menu {
        flex-direction: column;
    }

    .carrinho-title-menu img {
        width: 25px;
    }

    .white-box {
        padding: 2rem 1rem;
        margin: 0;
    }

    .cartoes {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 1rem;
        justify-items: center;
    }

    .cartoes img {
        width: 40px;
    }

    .box-dados-pessoais img {
        width: 40px;
    }

    .first-dados {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .second-dados {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: -13px;
        margin-bottom: 1.5rem;
    }

    .last-dados {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-dados figure {
        margin-bottom: 1.5rem;
    }

    .titles-pages {
        justify-content: space-between;
    }

    .product-section .produtos-description .bg-product {
        height: 20rem;
    }

    .meus-pedidos .titles-pages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .meus-pedidos .titles-pages .dark-green a img {
        width: 15px;
    }

    .meus-pedidos .titles-pages .dark-green a {
        font-size: 1.3rem;
        margin: 0;
        line-height: 1.5rem;
        justify-content:center;
    }

    .tabela-pedidos tr th {
        padding: 1.5rem;
        width: 100% !important;
    }

    .tabela-pedidos tr td {
        padding: 1.5rem;
        width: 100% !important;
    }

    .totais-compras {
        margin: 0;
        padding: 1rem;
    }

    .totais-compras::after {
        display: none;
    }

    .totais strong {
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .notas-fiscais {
        margin: 2rem 0 0 0;
        padding: 2rem;
    }

    .button-detalhes {
        width: 130px;
    }

    .table-pagamentos tr td {
        width: 100%;
        padding: 2.5rem 4rem 2.5rem 0;
    }

    .box-form {
        padding: 2rem 1rem 0;
        margin: 0 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .highlight-input {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
        transform: translate(0) !important;
    }

    .highlight-input input {
        width: 100%;
    }

    .button-down {
        transform: translateX(0) !important;
        margin-bottom: 1.5rem;
    }

    .uso-redes-sociais {
        margin: 0 1rem !important;
        padding: 2rem 1rem !important;
    }

    .uso-redes-sociais .up-side {
        flex-direction: column;
    }

    .uso-redes-sociais p {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .button-facebook {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .button-google {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .uso-redes-sociais small {
        line-height: 2rem;
        padding: 0 1rem;
    }

    .page-complementar {
        padding: 3rem 0;
    }

    .page-complementar h2 {
        font-size: 2rem;
        line-height: 3rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .form-highlight strong {
        margin-bottom: 1rem;
    }

    .rodape-infos {
        flex-direction: column;
        padding: 2rem 0;
    }

    .rodape-formas-pagamento {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-bottom: 0;
    }

    .box-gray-rodape {
        padding: 0;
        text-align: center;
    }

    h6.rodape-title {
        font-size: 1.6rem;
        line-height: 1.4rem;
        margin-bottom: 2rem;
    }

    .rodape-infos div {
        margin-bottom: 1rem;
    }
    .rodape {
        padding: 2rem;
    }

    .rodape-infos div p {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .box-gray {
        height: auto;
        grid-template-columns: 1fr;
    }

    .products-internas {
        flex-direction: column;
    }

    .product-section .produtos-description .adicionar {
        flex-direction: row;
        height: 4.8rem;
    }

    .product-content-title a img {
        width: auto;
    }

    .product-content-name p {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .product-content-icone {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .box-icone img {
        width: auto;
    }

    .product-content-description {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .product-content-description .box-description {
        padding: 0 1rem;
    }

    .box-gray-left {
        grid-template-columns: 1fr 1fr;
    }

    .mini-box {
        padding: 1.5rem;
    }

    .mini-box img {
        width: auto;
    }

    .mini-box a span {
        margin-bottom: 1rem;
    }

    .box-gray-right {
        margin-left: 0;
    }

    .box-whatsapp img, .box-telefone img {
        width: auto;
    }

    .big-box {
        padding: 1.5rem;
    }

    .sinais img {
        width: auto;
    }

    .resultado {
        text-align: center;
        margin-top: 1.5rem;
    }

    .button-finalizar {
        width: 100%;
    }

    .button-finalizar img {
        width: auto;
        margin-left: 1rem;
    }




    /* --------- montagem-plano ------------- */

    .painel-header {
        flex-direction: column;
    }

    .montagem-produto-header {
        flex-direction: column;
    }

    .montagem-produto-header span {
        margin: 1rem 0;
        text-align: center;
        font-size: 1.2rem;
    }

    .montagem-produto-header p {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .montagem-produto-title strong {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-right: 0;
    }

    .equipamentos-epi::after {
        display: none;
    }

    .montagem-box-title span:nth-child(2) {
        transform: translateX(3rem);
    }

    .montagem-box-title span:last-child {
        transform: translateX(6rem);
    }

    .montagem-box-title span {
        font-size: 1.2rem;
        line-height: 1.7rem;
        font-weight: 700;
    }

    .montagem-box {
        height: auto;
    }

    .equipamentos-epi div img {
        width: 50px;
    }

    .equipamentos-epi {
        margin-top: 1rem;
    }
    
    .montagem-box-produtos {
        margin-top: 3rem;
    }

    .montagem-box.description-box .montagem-box-produtos-header strong {
        font-size: 1.5rem;
    }

    .montagem-box.description-box {
        height: auto;
        overflow: hidden;
    }

    .montagem-box.description-box p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .sidebar-montagem a {
        margin-bottom: 2rem;
        padding: 2rem;
    }

    .sidebar-montagem a:first-child::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: auto;
        right: -10px;
        margin: auto;
        height: 10rem;
        background: #cccccc;
        width: 1px;
    }

    .sidebar-montagem {
        grid-template-columns: 1fr 1fr;
    }

    .sidebar-montagem a img {
        width: 40px;
    }

    .sidebar-montagem a br {
        display: none;
    }

    /* --------------------- */




    /* --------- BLOG -------- */

    .another-post-title select {
        padding: 0 15rem 0 1rem;
        font-size: 1.5rem;
        width: 100%;
    }

    .another-post-title {
        flex-direction: column;
    }

    .another-post-title strong {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .post-arrow img {
        width: 30px;
    }

    .another-post-title strong::after {
        bottom: -55px;
        width: 15rem;
    }

    .post-destaque {
        padding: 3rem 1rem;
        margin-right: 0;
    }

    .post-destaque-title h5 {
        line-height: 2.5rem;
        font-size: 2rem;
    }

    .post-destaque-date::after {
        width: 35%;
    }

    .small-destaques {
        padding: 0 1rem;
    }

    .small-destaques .post-destaque-title h5 {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .post-destaque-description p {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .small-destaques .post-destaque-date::after {
        display: none;
    }

    .sidebar-noticias {
        padding: 2rem;
    }  
    
    .noticia-interna {
        padding: 1rem;
    }

    .internas-redes-sociais span {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .noticia-interna-big-img {
        width: 100%;
        height: 25rem;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    .next-noticias {
        display: block;
        font-size: 1.5rem;
        line-height: 2.3rem;
        margin-bottom: 1.5rem;
    }

    .postagem-date.blog-internas {
        margin-bottom: 0;
        padding: 0 1rem;
    }

    .big-notice figure {
        height: 30rem;
    }
  
    .blog-notice {
        grid-template-columns: 1fr;
    }

    .big-notice figure {
        height: 25rem;
    }

    .small-notice figure {
        height: 10rem;
    }

    .big-notice span {
        font-size: 1.7rem;
        line-height: 2rem;
        padding-right: 0 !important;
    }

    .small-notice span {
        bottom: 1rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    /* ------------------------- */



    /* --------- info-clientes --------- */

    form.clientes-types .input-block .input-up {
        margin-right: 2rem;
    }

    .painel-body {
        padding: 2rem;
        height: auto;
    }

    .sidebar-infos-cliente {
        height: 30rem;
        margin-bottom: 2rem;
    }

    .sidebar-infos-cliente img {
        width: 80px;
        margin-bottom: 2rem;
    }

    .sidebar-infos-cliente strong {
        font-size: 2.1rem;
        line-height: 2.6rem;
    }

    form.clientes-types {
        padding: 2rem;
        width: 100%;
        margin-top: 2rem;
    }

    form.clientes-types .input-block .input-up label {
        margin-left: 1rem;
    }

    form.clientes-types .input-block {
        justify-content: center;
        margin-bottom: 1rem;
        padding-bottom: 3rem;
    }

    .title-white-green {
        font-size: 2rem;
        line-height: 2.3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .button-form-painel {
        bottom: 0rem;
    }

    button.white-green {
        height: 3.5rem;
        line-height: 3.5rem;
    }

    /*---------------------- */



    /* ---------------- conclusao ---------------- */


    .painel-conclusao {
        padding-left: 0;
    }

    .buttons-arquivos a {
        width: 100%;
        margin-bottom: 1rem;
    }

    .buttons-arquivos {
        flex-direction: column;
    }

    .box-visualizar {
        padding: 2rem;
        height: auto;
        overflow-y: hidden;
    }

    .visualizar-pedido-header strong {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .visualizar-pedido-header {
        flex-direction: column;
    }

    .marcas-logo {
        gap: 2rem;
    }
    
    .marcas-logo img {
        width: 90px;
        margin-left: 0;
    }

    .visualizar-pedido {
        padding: 1.5rem;
    }

    .box-visualizar-pedidos.epi img, .box-visualizar-pedidos.equipamento img {
        width: 90px;
    }

    .box-visualizar-pedidos {
        margin-bottom: 1rem;
    }

    .box-pedidos-produtos {
        grid-template-columns: 1fr;
    }

    .box-visualizar-pedidos strong {
        font-size: 2.2rem;
        line-height: 2.7rem;
        text-align: center;
    }

    .box-pedidos-produtos .pedidos-produtos strong {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .icons-content.equipamentos-box-icon {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }

    .icons-content.produtos-box-icon {
        grid-template-columns: 1fr 1fr;
    }

    .epi-box-icon {
        margin-bottom: 2rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }

    .button-icons .button-select-icon {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}