@media (max-width: 1600px) {
    .motivacional-description {
        padding-left: 22rem;
    }
}

@media (max-width: 1300px) {
    .products-section {
        padding: 0 2rem;
    }
}

@media (max-width: 769px) {
    img {
        width: 100%;
    }

    h1 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    .banner-description {
        padding: 3rem 1rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .text-light-blue {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .mapa-mundi {
        position: relative;
    }    

    .videos-copapel {
        grid-template-columns: 1fr 1fr;
    }

    .videos-copapel div a {
        font-size: 1.4rem;
    }

    .area-white {
        padding: 3rem 1rem;
    }

    .time-description span {
        font-size: 4rem;
    }

    .ideais {
        padding: 3rem 1rem 6rem;
    }

    h2 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .ideais-list {
        flex-direction: column;
    }

    .videos-copapel div a {
        font-size: 1.4rem;
    }

    .img-coracao {
        position: relative;
    }

    .img-coracao img {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin-top: -80px;
    }

    .green-box {
        padding: 0rem 10px 3rem;
    }

    .motivacional::after {
        width:  0;
    }

    .motivacional-description {
        padding: 0 0 2rem;
    }

    .motivacional-description strong {
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .motivacional-videos img {
        width: 100%;
        margin-bottom:  1rem;
    }

    .nossos-numeros {
        padding: 3rem 1rem;
    }

    .up-box {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2rem;
    }

    .our-numbers::after {
        display: none;
    }

    .up-box::after {
        display: none;
    }

    .down-infos::after {
        display: none;
    }

    .up-box div {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .up-box div strong {
        font-size: 4rem;
        margin: 0;
    }

    .down-infos {
        grid-template-columns: 1fr;
    }

    .infos-numbers {
        padding-top: 0;
    }
    
    .infos-numbers span {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .infos-numbers div {
        margin-bottom: 0;
    }

    .infos-numbers div strong {
        font-size: 3.5rem;
    }

    .infos-numbers div img {
        top: 15px;
        left: -45px;
        width: 40px;
    }

    h3 {
        font-size: 3rem;
        line-height: 3rem;
    }

    h3.text-green {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 1rem;
    }

    h3.text-gray  {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 1rem;
        text-align: toght;
    }
    
    .triangulo {
        bottom: -20px;
        left: 5rem;
        width: 40px;
    }

    .unidades {
        height: 80rem;
    }

    .unidades span {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .cidades {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
    }

    .cidades div {
        flex-direction: column; 
    }

    .cidades a {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .cidades div {
        text-align: center;
    }
    
    .mapa-sc {
        top: 360px;
    }

    .locais-sede::after {
        width: 100%;
    }

    .unidades-description {
        padding: 3rem 1rem;
    }  

    .unidades-description span {
        font-size: 2.7rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }  

    .locais-sede {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .clientes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slider-description {
        padding: 3rem 1rem 0;
    }

    h4 {
        font-size:  2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .catalogo-itens {
        padding: 0 1rem 3rem;
        text-align: center;
    }

    .left-side p {
        font-size: 1.5rem;
    }

    .button-catalogo {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    /* ====== allia ======== */

    .allia p {
        margin-bottom: 1.5rem !important;
    }

    .institucional-banner {
        padding: 3rem 1rem;
    }

    h5 {
        font-size: 2.4rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .higiene-livros {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .img-left img {
        position: relative;
        width: 100% !important;
    }

    .sombra {
        top: -30px;
        right: 40px;
        width: 50%;
    }

    .center-mapa { 
        text-align: left !important;
        margin-bottom: 3rem;
    }
    
    .center-mapa img {
        position: absolute;
        bottom: -180px;
        width: 90%;
    }

    .institucional-banner strong {
        margin-bottom: 1rem;
    }

    .marcas-empresa {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 0 0 3rem;
    }

    .marcas-empresa div img {
        width: auto;
    }

    .higiene-saude {
        padding: 2rem 0;
    }

    .sombra-down {
        display: none;
    }

    .menu-internas {
        display: none;
    }

    .page-infos span {
        padding: 0 1.5rem;
        margin: 3rem 0;
    }

    .sidebar-title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .sidebar-header {
        height: 10rem;
    }

    .sidebar-list ul {
        margin: 1rem
    }

    h6 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 1rem;
    }

    .produtos-description::after {
        display: none;
    }

    .produtos-description {
        width: 100%;
        margin-bottom: 2rem;
    }

    .bg-product {
        height: 18rem;
    }

    .bg-product figure img {
        width: 70%;
    }

    .quantidade {
        width: 65%;
    }

    .produtos-info p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .valores {
        margin: 1.5rem 0;
    }

    .valores .preco-novo {
        font-size: 1.7rem;
    }
    
    .swiper-marcas img { width: auto;}

    .kits-title h6 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .kits-title h6 img {
        display: none;
    }

    .kits-title a {
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: right;
    }

    .kits-title {
        margin: 2rem 0;
    }

    .swiper-marcas { margin: 2rem 0;}

    figure.logo img {
        margin-bottom: 2rem;
        width: auto;
    }

    .login-perfil {
        margin-top: 2rem;
        justify-content: center;
    }

    .favorito a img { width: auto;}

    .carrinho a img { width: auto;}

    figure.logo {
        justify-content: center;
    }

    .box-kit {
        justify-content: center !important;
    }

    .box-kit img { 
        width: auto;
        margin-bottom: 2rem;
    }

    .carrinho-interna h6 img { width: 25px;}

    .box-white-carrinho table tr td .bg-product {
        height: 6rem;
    }

    .box-white-carrinho table tr th {
        padding: 0 1rem;
    }

    .carrinho-total-preco .desconto img, .carrinho-total-preco .continuar-compra img {
        width: 25px;
    }

    .table-valores {
        padding: 0 1rem;
    }

    .lista-desejos .adicionar p {
        line-height: 1.2rem;
    }

    .carrinho-title-menu {
        flex-direction: column;
    }

    .carrinho-title-menu img {
        width: 25px;
    }

    .white-box {
        padding: 2rem 1rem;
        margin: 0;
    }

    .cartoes {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 1rem;
        justify-items: center;
    }

    .cartoes img {
        width: 40px;
    }

    .box-dados-pessoais img {
        width: 40px;
    }

    .first-dados {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .second-dados {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: -13px;
        margin-bottom: 1.5rem;
    }

    .last-dados {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-dados figure {
        margin-bottom: 1.5rem;
    }

    .titles-pages {
        justify-content: space-between;
    }

    .product-section .produtos-description .bg-product {
        height: 20rem;
    }

}