.carrinho-title-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.carrinho-title-menu h6 {
    color: #71bf44;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carrinho-title-menu h6 img {
    margin-left: 2rem;
}

.carrinho-title-menu .continuar-compra {
    width: auto;
    padding: 0 3.5rem;
}

.remover a {
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    color: #ea747c;
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-transform: lowercase;
    transition: all .3s ease-in-out;
}

.remover a:hover {
    color: #ea747c;
    opacity: .8;
}

.lista-desejos { margin: 2rem 0 16rem;}

.lista-desejos .table-valores p {
    margin-bottom: 0;
}

.lista-desejos .carrinho-quantidade .botoes-adicionar {
    flex-direction: row;
}

.lista-desejos .carrinho-quantidade .botoes-adicionar a {
    width: 80%;
    margin-top: 0;
    display: flex;
    font-size: 1rem !important;
    line-height: 1.5rem;
    justify-content: center;
}

.lista-desejos .adicionar p {
    font-size: 1rem;
}

.lista-desejos .carrinho-quantidade .quantidade {
    width: 60%;
}

.lista-desejos .carrinho-quantidade {
    position: relative;
    padding: 0 1rem;
}

.lista-desejos .table-valores {
    position: relative;
    padding: 0 1rem;
}

.lista-desejos .table-valores::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #e6e6e6;
    top: 0;
    right: 0;
}

.login-perfil .login-header { 
    padding-bottom: 10px; 
    position: relative; 
    text-decoration: none;
}

.login-perfil .login-header:hover::after { width: 100%; }

.login-perfil span { 
    position: relative; 
    display: inline-block; 
}

.login-perfil span:hover .login-menu { 
    display: block; 
    padding: 1.5rem 1rem;
}

.login-perfil .login-menu {
    position: absolute;
    top: 25px;
    left: -20px;
    width: 170px;
    padding: 0;
    box-shadow: 0 5px 30px rgb(0 0 0 / 10%);
    margin: 0;
    display: none;
    z-index: 100;
    background: #fff;
}

.login-perfil .login-menu::before {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -7px;
    left: 90px;
    right: 0;
    content: '';
}

.login-perfil .login-menu li {
    list-style: none;
    text-align: left;
    padding: 1.5rem 0;
    line-height: 1.6rem;
    border-bottom: 1px dotted #ffffff;
    transition: all .3s ease-in-out;
}

.login-perfil .login-menu li:hover {
    border-bottom: 1px dotted #ffffff;
}

.login-perfil .login-menu li:last-child {
    padding-bottom: 1px;
}

.login-perfil .login-menu li a {
    display: block;
    color: #676767;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease-in-out;
    margin-left: 1rem;
    text-decoration: none;
}

.login-perfil .login-menu li a:hover {
    text-decoration: underline;
}
