.produto-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.produto-home .produtos-description::after {
    right: -22px;
}

.kits-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kits-title h6 {
    font-size: 3rem;
    line-height: 3.7rem;
    color: #71bf44;
    font-weight: 800;
}

.kits-title a {
    display: inline-block;
    font-size: 2rem;
    line-height: 3.7rem;
    color: #007067;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.kits-title a:hover {
    opacity: .8;
}

.box-kit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-marcas-holder {
    padding: 0 5rem;
    position: relative;
}

.swiper-marcas .swiper-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev, .swiper-button-next {
    color: #000;
    font-weight: 800;
    border: 1px solid #b8b8b8;
    border-radius: 50px;
    font-weight: 900;
    width: 3rem;
    height: 3rem;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 10px;
}

.bg-green {
    background: #71bf44;
    margin-bottom: 2rem;
}

.bg-green p {
    color: #fff;
}

.superior-menu {
    padding: 1rem 0 3rem;
}

form.search {
    height: 100%;
    padding: 0 2rem;
    width: 100%;
}

form.search .input-search {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.input-search img {
    mix-blend-mode: multiply;
}

form.search input {
    height: 5rem;
    line-height: 5rem;
    padding: 0 2rem;
    width: 100%;
    font-size: 1.8rem;
    color: #9d9d9d;
    font-weight: 500;
    border: 1px solid #9d9d9d;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
}

form.search button {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9d9d9d;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0 1rem
}

figure.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

figure.logo img {
    width: 100%;
}

.login-perfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.login-perfil figure {
    height: 5rem;
    width: 5rem;
    border: 1px solid #9d9d9d;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 1rem;
}

.login-perfil figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.login-perfil span strong {
    font-size: 1.3rem;
    color: #007067;
    font-weight: 700;
}

.favorito-carrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.favorito-carrinho {
    margin: 0 2rem;
}

.favorito-carrinho img {
    margin: 0 1rem;
}