.page-complementar {
    padding: 6.5rem 0 3.5rem;
}

.page-complementar h2 {
    font-size: 3rem;
    line-height: 3.8rem;
    margin-left: 3rem;
    margin-bottom: 6.5rem;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.box-form {
    background: #fff;
    padding: 4rem 8rem 8rem 8rem;
    margin: 0 3rem;
}

.form-left-side {
    display: flex;
    flex-direction: column;
    /* padding: 0 2rem 0 11rem; */
}

.highlight-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.highlight-input input {
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.highlight-input label {
    font-size: 1.4rem;
    margin-right: 2.5rem;
    font-weight: 600;
    color: #808080;
}

.form-highlight strong {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    display: block;
    text-align: center;
}

